<h2>Por Capital</h2>
<hr>

<div class="row">
    <div class="col">
        <!-- search box  on Value2 es el evento incluido en mi search box que yo he creado que está en shared-->
        <!-- obtengo el valor del $event en el metodo que yo haga dentro de mi clase ligada a este html-->
        <shared-search-box 
            (onValue2)="ManejaEnviarCapital($event)"
            placeholder = "Introduce un texto para buscar por capital" 
            [termBusqueda]="miTermBusqueda"
            #txtsearchbox>
        </shared-search-box>
        <hr>
    </div>
    <div class="row">
        <div class="col-11">
            <countries-table [listaPaises] = "ListaPaises">  </countries-table>
        </div>
        <div class="col">                  
            <shared-loading-spinner *ngIf="isLoading===true"></shared-loading-spinner>
        </div>

    </div>
</div>


